<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="p1.teamtodo.user.UserMapper">

    <insert id="insUser" useGeneratedKeys="true" keyProperty="userNo">
        INSERT INTO `user`
        SET nickname = #{nickname}
            , password = #{password}
            , email = #{email}
            , profile_pic = #{pic}
            , first_login = TRUE
    </insert>

    <select id="selUser">
        SELECT
            email
            , nickname
            , profile_pic AS pic
        FROM `user`
        WHERE nickname = #{nickname}
    </select>

    <select id="checkDuplicateEmail" resultType="boolean">
        SELECT EXISTS (
            SELECT email FROM `user`
            WHERE email=#{email}
        )
    </select>

    <select id="checkDuplicateNick" resultType="boolean">
        SELECT EXISTS (
            SELECT nickname FROM `user`
            WHERE nickname=#{nickname}
        )
    </select>

    <update id="changeUserPw">
        UPDATE `user`
        SET password = #{password}
        WHERE user_no = #{userNo}
    </update>

    <!-- 1. 사용자 로그인 -->
    <select id="userSignIn">
        SELECT
            user_no AS userNo,
            password,
            nickname,
            email,
            profile_pic AS profilePic,
            first_login AS firstLogin,
            status_message AS userStatusMessage
        FROM user
        WHERE email = #{email}
    </select>


    <!-- 2. 사용자 정보 조회 -->
    <select id="selUserInfo">
        SELECT
            user_no AS userNo,
            email,
            nickname,
            status_message AS userStatusMessage,
            profile_pic AS pic
        FROM user
        WHERE user_no = #{targetUserNo}
    </select>

    <update id="editUser">
        UPDATE `user`
        SET nickname = #{nickname}
            , password = #{password}
            , profile_pic = #{pic}
            , status_message = #{statusMessage}
        WHERE user_no = #{targetUserNo}
    </update>

    <select id="selProjectEditUser">
        SELECT
            u.user_no AS userNo
            , u.nickname AS userNickname
            , u.profile_pic AS userPic
            , IF(s.schedule_no IS NULL, 0, 1) AS isExistSchedule
        FROM `user` u
        JOIN user_project up
            ON up.user_no = u.user_no
            AND up.project_no = #{projectNo}
        LEFT JOIN schedule s
            ON s.user_project_no = up.user_project_no
        GROUP BY u.user_no
    </select>
</mapper>